@tailwind base;
@tailwind components;
@tailwind utilities;

#gradiente-hero {
  background: linear-gradient(180deg, #a5e3fd 0.2%, #f8f8f8 40%);
}

@layer components {
  .caixasMensagem {
    @apply h-10  w-80 bg-slate-100 border-2 border-solid border-cyan-600 rounded-2xl flex items-end pb-1 pl-4;
  }
}

@layer utilities {
  .shadow1 {
    box-shadow: 0px 0px 20px 15px #a5e3fd;
  }
  .shadow2 {
    box-shadow: 0px 0px 20px 5px #a5e3fd;
  }
}
